In [47]:
# Import Dependencies
import os
from dotenv import load_dotenv
import requests
from alpha_vantage.cryptocurrencies import CryptoCurrencies
from alpha_vantage.techindicators import TechIndicators
import pandas as pd
from datetime import datetime
import pytz

In [48]:
# RUN ONCE
load_dotenv()
API_KEY = os.getenv('SPECIAL_API_KEY')

In [49]:
# RUN ONCE
params = {
 'function': 'CRYPTO_INTRADAY',
 'symbol': 'ETH',
 'market': 'USD',
 'interval': '5min',
 'time_zone': 'US/Eastern Time',
 'apikey': API_KEY
 }

r = requests.get('https://www.alphavantage.co/query', params=params)
print(r.url)
price_data = r.json()
print(price_data.keys())
r.close()

https://www.alphavantage.co/query?function=CRYPTO_INTRADAY&symbol=ETH&market=USD&interval=5min&time_zone=US%2FEastern+Time&apikey=J1CWSFE0KTEO2I97
dict_keys(['Meta Data', 'Time Series Crypto (5min)'])

In [50]:
price_df = pd.DataFrame(price_data['Time Series Crypto (5min)']).T
print(price_data['Meta Data'])
price_df.head()

{'1. Information': 'Crypto Intraday (5min) Time Series', '2. Digital Currency Code': 'ETH', '3. Digital Currency Name': 'Ethereum', '4. Market Code': 'USD', '5. Market Name': 'United States Dollar', '6. Last Refreshed': '2021-12-27 23:10:00', '7. Interval': '5min', '8. Output Size': 'Compact', '9. Time Zone': 'UTC'}

                        1. open     2. high      3. low    4. close 5. volume
2021-12-27 23:10:00  4062.44000  4064.43000  4056.36000  4057.96000       331
2021-12-27 23:05:00  4061.38000  4065.53000  4057.68000  4062.44000       868
2021-12-27 23:00:00  4063.12000  4068.42000  4052.01000  4061.38000       866
2021-12-27 22:55:00  4060.05000  4063.49000  4060.04000  4063.12000       610
2021-12-27 22:50:00  4053.09000  4061.04000  4053.03000  4060.04000      1649

In [51]:
# RUN ONCE
params = {
 'function': 'BBANDS',
 'symbol': 'ETHUSD',
 'interval': '5min',
 'time_period': '100',
 'series_type': 'open',
 'apikey': API_KEY
 }

r = requests.get('https://www.alphavantage.co/query', params=params)
print(r.url)
bband_data = r.json()
print(bband_data.keys())
r.close()

https://www.alphavantage.co/query?function=BBANDS&symbol=ETHUSD&interval=5min&time_period=100&series_type=open&apikey=J1CWSFE0KTEO2I97
dict_keys(['Meta Data', 'Technical Analysis: BBANDS'])

In [52]:
bbands_df = pd.DataFrame(bband_data['Technical Analysis: BBANDS']).T
print(bband_data['Meta Data'])
bbands_df.head()

{'1: Symbol': 'ETHUSD', '2: Indicator': 'Bollinger Bands (BBANDS)', '3: Last Refreshed': '2021-12-27 18:10:00', '4: Interval': '5min', '5: Time Period': 100, '6.1: Deviation multiplier for upper band': 2, '6.2: Deviation multiplier for lower band': 2, '6.3: MA Type': 0, '7: Series Type': 'open', '8: Time Zone': 'US/Eastern Time'}

                 Real Middle Band Real Upper Band Real Lower Band
2021-12-27 18:10        4088.2908       4119.5191       4057.0625
2021-12-27 18:05        4088.6427       4119.4886       4057.7968
2021-12-27 18:00        4089.0010       4119.4010       4058.6010
2021-12-27 17:55        4089.2798       4119.2334       4059.3262
2021-12-27 17:50        4089.5981       4118.9734       4060.2228

In [57]:
df = price_df.join(bbands_df, how = 'left')
df.head()

,1. open,2. high,3. low,4. close,5. volume,Real Middle Band,Real Upper Band,Real Lower Band
2021-12-27 23:10:00,4062.44000,4064.43000,4056.36000,4057.96000,331,NaN,NaN,NaN
2021-12-27 23:05:00,4061.38000,4065.53000,4057.68000,4062.44000,868,NaN,NaN,NaN
2021-12-27 23:00:00,4063.12000,4068.42000,4052.01000,4061.38000,866,NaN,NaN,NaN
2021-12-27 22:55:00,4060.05000,4063.49000,4060.04000,4063.12000,610,NaN,NaN,NaN
2021-12-27 22:50:00,4053.09000,4061.04000,4053.03000,4060.04000,1649,NaN,NaN,NaN

In [ ]:
# format = '%Y-%m-%d %H:%M'

# datetime = datetime.strptime(bband_data['Meta Data']['3. Last Refreshed'], format)
# old_timezone = pytz.timezone(bband_data['Meta Data']['8. Time Zone'])
# new_timezone = pytz.timezone("Asia/Calcutta")

# # returns datetime in the new timezone
# my_timestamp_in_new_timezone = old_timezone.localize(datetime).astimezone(new_timezone) 
# print(my_timestamp_in_new_timezone.strftime(format))

In [ ]:
# # Dictionary with original and new column names.
# new_col_names = {'1a. open (USD)': 'open',
#         '2a. high (USD)': 'high',
#         '3a. low (USD)': 'low',
#         '4a. close (USD)': 'close',
#         '5. volume': 'volume',}
  
# # Call rename() method. 
# df.rename(columns= new_col_names,
#           inplace=True)

In [ ]:
# # Dictionary with original and new column names.
# new_col_names = {'Real Upper Band': 'bband_up',
#         'Real Middle Band': 'bband_mid',
#         'Real Lower Band': 'bband_low',
#         'RSI': 'rsi'}
  
# # Call rename() method. 
# df.rename(columns= new_col_names,
#           inplace=True)