In [24]:
# Import Dependencies
import os
from dotenv import load_dotenv
import requests
from alpha_vantage.cryptocurrencies import CryptoCurrencies
from alpha_vantage.techindicators import TechIndicators
import pandas as pd

In [25]:
# RUN ONCE
load_dotenv()
API_KEY = os.getenv('SPECIAL_API_KEY')

In [26]:
# RUN ONCE
params = {
 'function': 'CRYPTO_INTRADAY',
 'symbol': 'ETH',
 'market': 'USD',
 'interval': '5min',
 'apikey': API_KEY
 }

r = requests.get('https://www.alphavantage.co/query', params=params)
print(r.url)
price_data = r.json()
r.close()

https://www.alphavantage.co/query?function=CRYPTO_INTRADAY&symbol=ETH&market=USD&interval=5min&apikey=J1CWSFE0KTEO2I97

In [27]:
price_df = pd.DataFrame(price_data['Time Series Crypto (5min)']).T
price_df.head()

                        1. open     2. high      3. low    4. close 5. volume
2021-12-27 22:20:00  4072.31000  4072.85000  4069.86000  4069.97000       151
2021-12-27 22:15:00  4073.66000  4073.66000  4067.22000  4072.32000       585
2021-12-27 22:10:00  4067.83000  4073.67000  4067.82000  4073.66000       723
2021-12-27 22:05:00  4064.13000  4067.83000  4060.10000  4067.82000      1088
2021-12-27 22:00:00  4059.69000  4066.13000  4055.00000  4064.12000      1215

In [28]:
# RUN ONCE
params = {
 'function': 'BBANDS',
 'symbol': 'ETHUSD',
 'interval': '5min',
 'time_period':'100',
 'series_type':'open',
 'apikey': API_KEY
 }

r = requests.get('https://www.alphavantage.co/query', params=params)
print(r.url)
bband_data = r.json()
print(bband_data.keys())
r.close()

https://www.alphavantage.co/query?function=BBANDS&symbol=ETHUSD&interval=5min&time_period=100&series_type=open&apikey=J1CWSFE0KTEO2I97
dict_keys(['Meta Data', 'Technical Analysis: BBANDS'])

In [29]:
bbands_df = pd.DataFrame(bband_data['Technical Analysis: BBANDS']).T
bbands_df.head()

                 Real Middle Band Real Lower Band Real Upper Band
2021-12-27 17:20        4091.3037       4065.6190       4116.9884
2021-12-27 17:15        4091.4754       4066.0728       4116.8780
2021-12-27 17:10        4091.6704       4066.5197       4116.8211
2021-12-27 17:05        4091.8670       4067.1614       4116.5726
2021-12-27 17:00        4092.0872       4067.9894       4116.1850

In [30]:
# # Dictionary with original and new column names.
# new_col_names = {'1a. open (USD)': 'open',
#         '2a. high (USD)': 'high',
#         '3a. low (USD)': 'low',
#         '4a. close (USD)': 'close',
#         '5. volume': 'volume',}
  
# # Call rename() method. 
# df.rename(columns= new_col_names,
#           inplace=True)

In [31]:
# # Dictionary with original and new column names.
# new_col_names = {'Real Upper Band': 'bband_up',
#         'Real Middle Band': 'bband_mid',
#         'Real Lower Band': 'bband_low',
#         'RSI': 'rsi'}
  
# # Call rename() method. 
# df.rename(columns= new_col_names,
#           inplace=True)